html,
body {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  overflow: auto;
  text-align: center;
  background-color: #F5EFE7;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Source Sans Pro', sans-serif;
}

main {
  display: flex;
  margin: auto;
  padding: 0 4%;
  min-height: 100%;
  align-items: center;
}

section {
  margin: 20px auto 40px auto;
}

form,
.card-display {
  margin: auto;
}

#card-form {
  background-color: #FFFFFF;
  max-width: 420px;
  text-align: center;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

label {
  text-align: left;
}

input {
  margin-bottom: 20px;
}

input[type="submit"] {
  background-color: #4F709C;
  cursor: pointer;
  color: white !important;
  line-height: 1em;
  font-weight: bold;
}

input:valid, input:focus:valid{
  color: green;
  border-color: green;
}

input:invalid, input:focus:invalid{
  color: red;
  border-color: red;
}

.googleBtn{
  margin-bottom: 20px;
}

@media screen and (min-width: 900px) {
  section {
    display: inline-block;
    vertical-align: top;
    width: 48%;
  }

}