/* home.css */

/* Navbar Styles */
.navbar {
    background-color: #F5EFE7;
  }
  
  .square-button {
    background-color: #D7C0AE;
  }
  
  .search-bar .form-control {
    background-color: #EEE3CB;
    color: #ffffff;
  }
  
  .search-bar .btn-outline-light {
    background-color: #EEE3CB;
    border-color: #967E76;
    color: #ffffff;
  }
  
  /* Adjust the magnifying glass icon size */
  .search-bar img {
    width: 20px;
    height: 20px;
  }
  
  /* Increase spacing between navbar items */
 
  
  /* List of Images */
  .image-list-scroll {
    max-height: 400px; /* Adjust the max height as needed */
    overflow-y: auto;
  }
  
  .image-box {
    width: 100%;
    height: 200px; /* Adjust the height as needed */
    background-color: #000000;
   
  }
